venv
.env
__pycache__
testscript.ipynb
index.html
static/android-chrome-192x192.png
static/android-chrome-512x512.png
static/apple-touch-icon.png
static/favicon-16x16.png
static/favicon-32x32.png
static/favicon.ico
static/site.webmanifest
vectorstore_prueba
*.wav
functionCallingTest.ipynb
local.ipynb
test.ipynb
voztotext.html
voice-to-text.ipynb
*.ipynb