body {
    font-family: Arial, sans-serif;
    background-color: #FFE05D;
}

.chat-container {
    width: 70%; /* Adjust the width as needed */
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.chat-box {
    background-color: #646464;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    max-height: 700px;
    height: 90%;
}

.messages {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}

.preguntas{
    padding: 5px;
    padding-bottom: 5px;
    text-align: left;
    width: 40%;
    margin: 5px;
    left: 10%;
    background-color: rgba(255, 248, 205,0.5);
    
    
}
.respuestas{
    padding: 5px;
    text-align: right;
    
    margin: 5px;
    right:10%;
    background-color: rgba(255, 248, 205,0.5);
}

.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}

.bot {
    border-top-right-radius: 0;
}

.user {
    border-top-left-radius: 0;
    text-align: right;
}

.user-input {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-top: 10px;
    width: 100%;
}

.user-input form {
    display: flex;
    width: 100%;
}

.user-input input[type="text"] {
    flex: 1;
    width: calc(100% - 90px); /* Adjust the width as needed */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #FFE05D;
    background-color: #646464;
    color: #908d96;
    margin-right: 10px; /* Add margin between input and button */
}

.user-input button {
    width: 80px; /* Adjust the width as needed */
    padding: 10px;
    background-color: #646464;
    color: #908d96;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #FFE05D;
}
/* .user-input button:hover {
    background-color: #005f7f;
} */
