/* Estilos CSS para el chat */
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: flex-end; /* Move items to the bottom */
}

.messages {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}



.input-container {
    padding: 10px;
    border-top: 1px solid #ccc;
    align-items: bottom;
}

.input-container input[type="text"] {
    width: calc(100% - 20px);
    padding: 5px;
    border: 5px solid #ccc;
    border-radius: 5px;
    

}

.input-container input[type="submit"] {
    padding: 5px 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
   
}